 
  *, *::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Barlow', sans-serif;
    width: 100vw;
  }
  

   /* NAVIGATION */
   .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 90%;
    padding: 5rem 0 1rem 2.5rem;
    /* margin-top: 2px; */
    margin-left: 10px;
    z-index: 100;
    color: #ffffff;
  }
  
  /* nav and stickly class at the same time */
  .nav.sticky{
    position: fixed;
    margin-top: -15px;
    /* background-color: rgba(255, 255, 255, 0.95); */
  }
  
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
    margin-right: 50px;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }
  
  .nav__item {
    margin:1.5rem 4rem;
    font-weight: 300;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 200;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  .nav__links li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ffffff;
    display: block;
    margin-top: 5px;
    transition: 0.5s;
}

.nav__links li:hover::after{
  width: 100%;
}
  

  /* HEADER */
  .header {
    padding: 100px 10%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-image: url(IMG/Bitmap.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .header__title {
    color: #ffffff;
  }
  
  .header h1 {
    font-size: 9rem;
    line-height: 1.35;
    font-weight: 200;
  }
  
  .header h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #D0D6F9;
  }
  .header p{
    color: #D0D6F9;
    font-weight: 300;
    font-size: 1.4rem;
  }
  .explore-img img{
    /* position: absolute; */
    width: 250px;
    height: 250px;
  }

 

/* DESTINATION */
.destinations{
  width: 100%;
  height: 100vh;
  background-image: url(IMG/moon\ bgd.jpg);
  background-size: cover;
  background-position: center;
  /* position: relative; */
}
.heading h3{
  padding: 100px 0 0 100px;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
}
.heading span {
  font-weight: 400;
  color: #4c4c55;
}
.planet-image img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
}
.planet-text{
  display: block;
  
}
.planet-links ul {
  font-size: 18px;
  font-weight: 200;
}

.planet-links {
  flex: 1;
  position: absolute;
  left: 60%;
  top: 2.2%;
  /* text-align: right; */
}

.planet-links ul li {
  display: inline-block;
  padding: 15px 10px;
}

.planet-links ul li a {
  text-decoration: none;
  color: #ffffff;
}
.planet-text h1 {
    font-size: 10rem;
    line-height: 1.35;
    font-weight: 200;
    padding-bottom: -10px;
}
.planet-text p{
    color: #D0D6F9;
    font-weight: 300;
    font-size: 1.25rem;
}
hr{
  margin: 40px 0 20px 0;
  font-weight: 200;
  color: #D0D6F9;
}

.planet-text-footer--1{
  text-align: left;
  display: inline-block;
  color: #D0D6F9;
  padding-right: 60px;
}
.planet-text-footer--1 h3{
  font-size: 2rem;
  font-weight: 300;
  padding-top: 5px;
}
.planet-text-footer--1 h4{
  font-weight: 200;
}

/* Destination slides */
.slide3 {
  position: absolute;
  top: 0;
  width: 80%;
  height: 50rem;
  transition: transform 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:-50px 0 0 100px;
  color: #ffffff;
} 


/* CREWS */
.crew{
  /* width: 100vw; */
  height: 100vh;
  background-image: url(IMG/crew\ bgd.png);
  background-size: cover;
  background-position: center;
}
.crew-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  color: #ffffff;
}

.crew-image img{
  width: 390px;
  height: 430px;
}

.crew-text{
  display: block;
}
.crew-text h1 {
  font-size: 5rem;
  line-height: 1.35;
  font-weight: 200;
  padding-bottom: 8px;
}
.crew-text p{
  color: #D0D6F9;
  font-weight: 300;
  font-size: 1.5rem;
}
.crew-text h3{
  font-size: 2.5rem;
  font-weight: 100;
  color: #D0D6F9;
  padding-bottom: 10px;
}

.dots {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/* SLIDER */
.slider {
  max-width: 120rem;
  height: 100rem;
  margin: 100px auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  transition: transform 1s;
} 


/* TECHNOLOGY */
.technology{
  width: 100vw;
  height: 100vh;
  background-image: url(IMG/tech\ bgd.png);
  background-size: cover;
  background-position: center;
}

.tech-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 170px;
  /* margin: 0px 100px; */
  color: #ffffff;
}

.tech-image img{
  width: 390px;
  height: 400px;
}

.tech-text{
  display: block;
}
.tech-text h1 {
  font-size: 5rem;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 15px;
  /* margin: 30px 0; */
}
.tech-text p{
  color: #D0D6F9;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.tech-text h3{
  font-size: 1.5em;
  font-weight: 500;
  color: #4c4c55;
  padding-bottom: 0px;
}

/* Tech slides */
.slider2 {
  max-width: 120rem;
  height: 50rem;
  margin: 0px auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}
.slide2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  transition: transform 1s;
} 

/* DOTS 2 -- TECH SLIDES */
.dots2 {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.dots2__dot {
  border: 1px solid #4c4c55;
  background-color: #11131E;
  /* opacity: 0.7; */
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  margin-right: 0rem;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
}

.dots2__dot:last-child {
  margin: 0;
}

.dots2__dot--active {
  background-color: #fff;
  opacity: 1;
}




/* RESPONSIVENESS */
 /* TABLET */
 @media(max-width: 850px){
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header__title {
    margin-top: 90px;
  }
  .header h1 {
    font-size: 10rem;
    line-height: 1.35;
    font-weight: 200;
    margin: 10px 0;
  }
  
  .header h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #D0D6F9;
  }
  .header p{
    color: #D0D6F9;
    font-weight: 400;
    font-size: 2rem;
  }

  /* CREW */
  .crew-details{
    flex-direction: column;
    text-align: center;
  }
  .crew-text{
    margin-bottom: 70px;
  }
  .crew-text h1 {
    font-size: 5rem;
    font-weight: 200;
    margin: 12px 0;
  }
  .crew-text p{
    color: #D0D6F9;
    line-height: 1.7;
    font-weight: 300;
    font-size: 2rem;
  }
  .crew-text h3{
    font-size: 3rem;
    font-weight: 200;
    color: #D0D6F9;
    padding-bottom: 10px;
  }

  /* TECHNOLOGY */
  .tech-details{
    flex-direction: column;
    text-align: center;
  }
  .tech-text{
    margin-bottom: 70px;
  }
  .tech-text h1 {
    font-size: 5rem;
    font-weight: 200;
    margin: 15px 0;
  }
  .tech-text p{
    color: #D0D6F9;
    line-height: 1.7;
    font-weight: 300;
    font-size: 2rem;
  }
  .tech-text h3{
    font-size: 3rem;
    font-weight: 200;
    color: #D0D6F9;
  }
  .slider2 {
    max-width: 120rem;
    height: 50rem;
    margin: 0px auto;
    position: relative;
  
    /* IN THE END */
    overflow: hidden;
  }

}

@media(max-width: 450px){
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header__title {
    margin-top: 60px;
  }
  .header h1 {
    font-size: 6rem;
    font-weight: 200;
    margin: 10px 0;
  }
  
  .header h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #D0D6F9;
  }
  .header p{
    color: #D0D6F9;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2;
  }

  /* CREW */
  .crew-details{
    flex-direction: column;
    text-align: center;
  }
  .crew-text{
    margin-bottom: 50px;
  }
  .crew-text h1 {
    font-size: 2.05rem;
    font-weight: 200;
    margin: -2px 0;
  }
  .crew-text p{
    color: #D0D6F9;
    line-height: 1.5;
    font-weight: 300;
    font-size: .7rem;
  }
  .crew-text h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: #D0D6F9;
    /* padding-bottom: 10px; */
  }
  .crew-image img{
    width: 200px;
    height: 300px;
  }

  /* TECHNOLOGY */
  .tech-details{
    flex-direction: column;
    text-align: center;
  }
  .tech-text{
    margin-bottom: 70px;
  }
  .tech-text h1 {
    font-size: 5rem;
    font-weight: 200;
    margin: 15px 0;
  }
  .tech-text p{
    color: #D0D6F9;
    line-height: 1.7;
    font-weight: 300;
    font-size: 2rem;
  }
  .tech-text h3{
    font-size: 3rem;
    font-weight: 200;
    color: #D0D6F9;
  }
  .slider2 {
    max-width: 120rem;
    height: 50rem;
    margin: 0px auto;
    position: relative;
  
    /* IN THE END */
    overflow: hidden;
  }

}